/* custom fonts */
/* Custom fonts */
@font-face {
    font-family: Montserrat_Regular;
    src: url('../font/Montserrat-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: Montserrat_Medium;
    src: url('../font/Montserrat-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: Montserrat_Bold;
    src: url('../font/Montserrat-Bold.ttf') format('truetype');
  }  




body{
    background-color: #181818;
    font-family: Montserrat-Regular,'Montserrat Regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    margin-top: 0;
}

/* modify browser scrollbar */
body::-webkit-scrollbar {
    width: 5px;
}
  
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    background-color: #eeeeee;
}
  
body::-webkit-scrollbar-thumb {
    background: #888;
}

/* main content of the page */
.content{
    border: 1px solid white;
    padding: 10%;
    margin-top: 70px;
    border-radius: 30px;
    transition: 0.3s;
}

.content:hover{
    background-color: white;
    color: black;
}

@media (min-width: 800px) {
    .content{
        width: 600px;
        margin: 70px auto auto auto;
    }
}
