/* custom fonts */
/* Custom fonts */
@font-face {
    font-family: Montserrat_Regular;
    src: url('../font/Montserrat-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: Montserrat_Medium;
    src: url('../font/Montserrat-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: Montserrat_Bold;
    src: url('../font/Montserrat-Bold.ttf') format('truetype');
  }  




body{
    background-color: #181818;
    font-family: Montserrat-Regular,'Montserrat Regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    margin-top: 0;
}

/* modify browser scrollbar */
body::-webkit-scrollbar {
    width: 5px;
}
  
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    background-color: #eeeeee;
}
  
body::-webkit-scrollbar-thumb {
    background: #888;
}

h1{
    color: red;
}

h2{
    color: blue;
}

h3{
    color:green;
}

/* main content of the page */
.content{
    border: 1px solid white;
    background-color: white;
    padding: 0 10% 10% 10%;
    padding-top: 50px;
    margin-top: 70px;
    border-radius: 30px;
    transition: 0.3s;
    color: black;
}


@media (min-width: 800px) {
    .content{
        width: 600px;
        margin: 70px auto auto auto;
    }

}

/* calculator */
.calculator{
    border-radius: 20px;
    background-color: #eeeeee;
    padding: 30px;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}



.entry{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    
}

/*
.input{
    background-color: bisque;
} */

.field{
    width: 80px;
    margin-left: 0px;
    border-radius: 5px;
    border: 2px solid #cecece;
}

.container{
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.button{
    border: none;
    margin: 0;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(111, 184, 111);
    font-family: Montserrat-Bold,'Montserrat Bold','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
}

.button:hover{
    background-color: rgb(97, 161, 97);
}

/* card for displaying answer */
.result{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result>span{
    text-align: center;
    color: #181818;
    font-size: large;
    margin-bottom: 20px;
}

